# Python virtual environment
venv/
env/
ENV/
.venv/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/


# Environment variables
.env
.streamlit/secrets.toml

# OS specific files
.DS_Store
Thumbs.db
desktop.ini

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs and local files
*.log
.history
.hypothesis/